
@font-face {
    font-family: 'GE_SS_Two_Bold';
    src: url('/fonts/ArbFONTS-GE_SS_Two_Bold_4.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.homepage img{
    width: 35%;
}

body{
    color: white;
    font-size: 20px;
    background: #272E3A;
    font-family: 'GE_SS_Two_Bold', sans-serif !important;
}
.color-white{
    color: white !important;
}
.content{
    padding: 5px;
}
.nav-slogan{
    background: #7826AC;
}
.nav-pagename{
    background: #6C1163;
}
.bg1{
    background: #530C7F !important;
    background-color: #530C7F !important;
}
.bg4{
    background: #323944 !important;
    background-color: #323944 !important;
}
.bg6{
    background: #e55a5a !important;
    background-color: #e55a5a !important;
}

.homepage img{
    background: transparent !important;
    border: 0;
}
.homepage .row div{
    background: #323944;
    padding: 1%;
    font-size: 20px;
}
.homepage .row{
    column-gap: 10px;
}
.headNav{
    /* column-gap: 10px; */
    margin-left: 25px;
    font-size: 20px;

}

.headNav div{
    padding: 1%;
    border-right: 5px solid white;
}

.pagniateConainer p{
    color: white !important;
}



.itemspage .row{
    column-gap: 10px;
}
.itemspage input{
    color: white !important;
    background: gray !important;
    text-align: center !important;
    font-size: 80% !important;
}
.itemspage .col{
    text-align: center;
    padding: 1%;
    font-size: 140% !important;
}
.itemspage input {
    background: transparent !important;
}
.itemspage .form-label{
    margin: 4px 0;
}
.itemspage .form-check-input:checked {
    background-color: #007bff !important;
    border-color: white !important;
  }
  .itemspage .buttons *{
    font-size: 160% !important;
  }

  .tableList{
    background-color: #323944 !important;
  }
  .tableList *{
    background-color: #323944 !important;
    color: white !important;
    text-align: center;
  }
  .tableList table th{
    font-weight: bold !important;
  }
  table th, table td {
    border: 1px solid #000;
    padding: 8px;
}
.itemspage label{
    width: 100%;
    background: #323944;
    padding: 2%;
}
.itemspage .form-check-label{
    background: initial !important;
}


.table-footer div{
    padding: 1%;
}

.totals ,.totals th{
    background-color: #0d8b0d !important;
}



.highlight {
    background-color: #530C7F !important;
}
.containerGrroup .row{
    border-bottom: 1px solid #530C7F;
    padding: 5px;
}
.containerGrroup .col-4{
    display: flex;
    justify-content: center;
    align-items: center;
}


.print-invoice{
    width: 8.3in;
    height: 11.7in;
    background: white !important;
    margin: auto;
}
.print-invoice h1{
    color: red;
    font-size: 55px;
}
.print-invoice table{
    color: black;
}
.print-invoice .sideName{
    color: black;
    border: 1px solid black;
    font-size: 25px;

}
.print-invoice .invoice-details thead tr th{
    color: white ;
    background: red;
}
.print-invoice .sales thead tr th{
    color: white ;
    background: #ad20cfcf !important;
}
.print-invoice .total *{
    color: black;
} 
.print-invoice .total div{
    display: flex;
}
.print-invoice .total{
    font-size: 40px;
}
.print-invoice .footer {
    background: red;
    font-size: 17px;
}
.print-invoice .sales {
    background: #ad20cfcf !important;
}
.print-invoice .bookmarks {
    background-image: url("../images/LOGO-PNG.png");
    position: absolute;
    height: 100%;
    width: 96%;
    z-index: 1;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
}